---
layout: default
title: CV Harris
icon: fa-beer
description: St. Louis based Web Developer
background: /assets/FullSizeRender.jpeg
backgroundMobile: /assets/header_mobile.png
classes: home
---

<div class="home">
  <article id="hire">
    <div class="wrapper">
      <h1 class="hire-title">I'm a Web Developer. Here's how I can help you:</h1>
      <ul>
        <li class="marketing">The Internet is large and exciting! Hire a web developer to guide your site through the cosmos!</li>
        <li class="efficient">Not just a 'pretty face'&mdash;make your website performant, responsive, and an asset, not a liability.</li>
        <li class="loose">Don't pay for expensive templates or misleading do-it-yourself sites. The best tool on the web is one developer with your full attention.</li>
        <li class="code">No tricks or shortcuts here. Just pure, smart, scalable code.</li>
      </ul>
    </div>
  </article>
  <div class="floating-icons-container wrapper">
    {% for skill in site.data.skills %}
      <div class="floating-icon">
        <img src="/assets/{{skill.img}}" />
      </div>
    {% endfor %}
  </div>
<!--     <label>
      Want to ask for a quote?
    </label>
    <div>
      <p class="more-information">Great! Tell me a little more about your idea for a website:</p>
      <textarea class="form-control" name="moreInfo" rows="3" ng-model="description"></textarea>
      <input type="email" ng-model="mail_address" name="mailTo" class="form-control" placeholder="Enter your e-mail address...">
      <button id="submit-inquiry" class="btn" ng-show="(questionaire.mailTo.$valid && questionaire.mailTo.$viewValue != undefined)" ng-click="submitInquiry(questionaire)">Send Inquiry</button>
      <p>Or you can <a href="#/contact">contact me</a> some other way to share your idea with me.</p>
    </div> -->

</div>
