<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-box description">
        <p class="text">{{ site.description }}</p>
      </div>

      <div class="footer-box social">
        <ul class="social-media-list">
          <li>
            <a class="social-button" target="_blank" href="https://medium.com/@Chesterbelloc14"><i class="fa fa-medium"></i></a>
          </li>
          <li>
            <a class="social-button" target="_blank" href="https://github.com/cvharris"><i class="fa fa-github"></i></a>
          </li>
          <li>
            <a class="social-button" target="_blank" href="https://www.linkedin.com/pub/charles-harris/a5/727/256"><i class="fa fa-linkedin"></i></a>
          </li>
          <li>
            <a class="social-button" target="_blank" href="https://twitter.com/Chesterbelloc14"><i class="fa fa-twitter"></i></a>
          </li>
          <li>
            <a class="social-button" target="_blank" href="mailto:charris1014@gmail.com"><i class="fa fa-envelope-o"></i></a>
          </li>
        </ul>
      </div>

    </div>

  </div>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js" type="text/javascript"></script>
  <!-- {% if page.title == 'Writings' %}
    <script src="/assets/js/iframe-loading.js" type="text/javascript"></script>
  {% endif %} -->

</footer>
