<header class="site-header">

  <div class="wrapper">

    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <a href="#" class="open-menu"><i class="fa fa-bars"></i></a>

      <div class="header-menu">
      {% assign sorted_pages = site.pages | sort:'order' %}
        {% for page in sorted_pages %}
          {% if page.title and page.title != 'CV Harris' %}
          <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">
            <i class="fa {{page.icon}}"></i>
            <span>{{ page.title }}</span>
          </a>
          {% endif %}
        {% endfor %}
      </div>
    </nav>

  </div>

</header>
