/**
 * Site header
 */
.site-header {
    border-top: 5px solid $red-color;
    height: 56px;
    background-color: $accent-black;
    transform: translate3d(0, 0, 0);
    // Positioning context for the mobile navigation icon
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 11;

    .wrapper {
      @include flex-display();
      @include justify-content(space-between);
      @include align-items(center);
    }
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: hsl(60,0%,32%);
        transition: color .3s;
    }

    &:hover {
        color: $white;
        text-decoration: none;
    }
}

// Mobile navigation
body {
  position: relative;
  -webkit-perspective: 1500px;
  perspective: 1500px;
  -webkit-perspective-origin: 0% 50%;
  perspective-origin: 0% 50%;
  overflow: auto;
  z-index: 1;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    display: block;
    z-index: 9;
    opacity: 0;
    background: rgba($black, .85);
    transform: translate3d(250px, 0, 0);
    transition-duration: 0.5s;
    transition-property: opacity, width, transform;
    -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
  }
}

main {
  position: relative;
  overflow:hidden;
  height: 100%;
  background-color: $grey-lighter;
  z-index: 8;
  perspective: 1000px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
}

aside {
  position: fixed;
  top: 61px;
  right: 0;
  z-index: 10;
  width: 250px;
  height: calc(100vh - 61px);
  background-color: $blue-primary;
  overflow: hidden;
  visibility: hidden;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, -250px);
  transform: translate3d(0, 0, -250px);
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
   -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
     -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
        transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);

  .mobile-nav {
    @include flex-display();
    @include flex-direction(column);
    padding-top: 7px;

    .page-link {
      display: block;
      position: relative;
      color: #f3efe0;
      text-align: right;
      padding: 10px 18px;
      font-size: 26px;
      -webkit-transition: color 0.3s;
      transition: color 0.3s;
      -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
      transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
    }
  }
}

body {

  &.sidebar {
    overflow: hidden;

    .site-header {
      transform: translateY(0);
    }

    aside {
      visibility: visible;
      -webkit-transition-property: all;
      transition-property: all;
      -webkit-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
       -moz-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
         -o-transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
            transition-timing-function: cubic-bezier(0.165, 0.840, 0.440, 1.000);
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }

    main {
      -webkit-transform: translate3d(-250px, 0, 0);
      transform: translate3d(-250px, 0, 0);
    }

    &:after {
      width: 100%;
      height: 100%;
      opacity: 1;
      -webkit-transform: translate3d(0px, 0, 0);
      transform: translate3d(0px, 0, 0);
      -webkit-transition: opacity 0.5s, transform 0.5s;
      transition: opacity 0.5s, transform 0.5s;
    }
  }
}

.site-nav {
  .open-menu {
    display: none;
  }

  .page-link {
    color: $white;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the first one
    &:not(:first-child) {
      margin-left: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 0;
    right: 30px;
    text-align: right;

    .open-menu {
      display: block;
      color: #f3efe0;
      font-size: 24pt;
      line-height: 56px;
      text-align: center;
    }

    .header-menu {
      clear: both;
      display: none;
    }

    .page-link {
      display: block;
      padding: 5px 10px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
    padding: $spacing-unit 0;
    box-shadow: inset 0px 0 15px 0px rgba(0, 0, 0, 0.6);
    @include flex(0, 0, auto);
    background-color: $accent-black;
    z-index: 2;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
    color: $white;

    @include media-query($on-palm) {
	    text-align: center;
    }
}


.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;

    @include media-query($on-palm) {
  	    @include flex-direction(column);
    }
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-tablet) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}



/**
 * Page content
 */
.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: .8rem;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-tablet) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-tablet) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-tablet) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-tablet) {
            font-size: 18px;
        }
    }
}
