html {
	height: 100%;
  position: relative;
  overflow: hidden;
}

body {
  height: 100%;
  overflow: hidden;
  position: relative;
}


.page-content {
	@include flex-display();
	@include flex-direction(column);
	padding:0;
	height: calc(100% - 61px);
	overflow-y: auto;
	overflow-x: hidden;
	width: 100%;
	background-color: #fdfdfd;

	@include media-query($on-palm) {
		-webkit-overflow-scrolling: touch;
	}
}

.writing {
	iframe {
		display: none;
	}

	.post-content {
		@include flex-display();
	  @include justify-content(center);
		@include align-items(center);
	  margin-top: 30px;

		@include media-query($on-palm) {
	    margin: 0;
		}
	}
}

.normal .page-head{
  background: $blue;
  padding: 25px 0;
  @include flex(0, 0, auto);

  .page-description {
	  color: $white;
  }
}

.home .page-head {
  height: calc(100vh - 162px);
  background-position: bottom -15px center;
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
	top: 0;
  width: 100%;
  z-index: 0;

	@include media-query($on-palm) {
		background-position: top center;
	}
}

.page-title {
  text-shadow: 2px 1px 0 $blue, 5px 4px 0 rgba(0, 0, 0, 0.25);
  margin: 0 0 7px;
  color: $white;
  position: relative;
  font-weight: 700;
  font-size: 54pt;
  font-family: $serif;
  text-indent: -5px;
  position: relative;
  letter-spacing: 4px;
  line-height: 1.2em;
  border-bottom: 5px solid $red;

	i {
	  position: absolute;
	  top: 30px;
	  left: -59pt;
	}

	@include media-query($on-palm) {
		font-size: 38pt;
		text-indent: 0;

		i {
			position: relative;
			top: 0;
			left: 0;
		}
	}
}

.home .page-title {
	text-shadow: 3px 2px 0 #407C78, 7px 6px 0 rgba(0, 0, 0, 0.25);
	color: $white;
	border-bottom: none;
	margin: 0;
  padding-top: 30px;
}

.page-description {
  margin: 0;
  font-size: 1.3rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Lato";
  color: rgba(255,255,255,0.8);
}

@include media-query($on-palm) {
	.home .page-description {
		text-align: center;
	}
}

#main {
	@include flex(1, 0, auto);
  z-index: 2;
  position: relative;
  width: 100%;

	@include media-query($on-palm) {
		padding: 0;

		&:before {
		    height: calc(100% - 222px);
		}
	}
}

.home #main {
  padding-top: calc(100vh - 165px);
}


.floating-icons-container {
	@include flex-display();
	@include align-items(center);
  @include justify-content(space-around);
  @include flex-wrap(wrap);
}

.floating-icon {
  @include flex(0, 0, 25%);
  padding: 25px;
}

#hire {
	position: relative;
  background: $blue;
  padding: 50px 20px;
  font-family: "Lato", "Helvetica Neue", Helvetica, sans-serif;

  .hire-title {
  	margin: 0 0 7px;
	  color: $white;
	  position: relative;
	  font-weight: 700;
	  font-size: 22pt;
	  font-family: "lato";
	  position: relative;
	  padding: 0 0 10px;
	  line-height: 1.2em;
	  border-bottom: 3px solid $red;
  }

  &:before {
    content: '';
    position: absolute;
    width: 300%;
    height: 100%;
    background: $blue;
    display: block;
    top: 0;
    left: -100%;
    z-index: -1;
	}

  ul {
		position: relative;
    list-style: none;
    margin-left: 30px;
    @include flex-display();
    @include flex-direction(column);
    @include justify-content(flex-start);

  	li {
		  font-size: 14pt;
		  color: $white;
		  line-height: 1em;
		  margin: 12px 0;
		  font-weight: 300;
		  position: relative;

		  &:before {
        display: inline;
        position: absolute;
        font-family: FontAwesome;
        left: -30px;
      }
      &.marketing:before {
        content: '\f0fb';
      }
      &.efficient:before {
        content: '\f0e4';
      }
      &.loose:before {
        content: '\f0d6';
      }
      &.code:before {
        content: '\f121';
      }
		}
	}
}

.footer-col-wrapper {
	@include flex-display();
	@include justify-content(space-between);
	margin-left: 0;
	position: relative;
}

.footer-box.description {
	@include flex(1, 0, 40%);
  margin-right: 60px;
	position: relative;

	@include media-query($on-palm) {
    margin-right: 0;
		@include flex(0, 0, auto);
	}
}

.footer-box.social {
	@include flex(0, 0, 40%);
	position: relative;

	@include media-query($on-palm) {
    margin-right: 0;
		@include flex(0, 0, auto);
	}
}

.social-media-list {
	@include flex-display();
	@include justify-content(space-between);
	@include align-items(center);
}

.social-button {
  display: block;
  height: 60px;
  width: 60px;
  color: $accent-black !important;
  border-radius: 100%;
  position: relative;
  text-align: center;
  z-index: 1;
  -webkit-transition: color 0.1s ease-in-out;
  transition: color 0.1s ease-in-out;

	i {
    font-size: 26pt;
    position: relative;
    line-height: 60px;
	}

	&:before {
    content: '';
    display: block;
    border-radius: inherit;
    box-shadow: inset 0 0 0 30px $blue;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    left: 0;
    z-index: -1;
    -webkit-transform: scale3d(.9, .9, .9);
    transform: scale3d(.9, .9, .9);
    -webkit-transition: box-shadow 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
 	}

 	&:hover {
    color: $blue !important;

    &:before {
	    -webkit-transform: scale3d(1.05, 1.05, 1.05);
	    transform: scale3d(1.05, 1.05, 1.05);
	    box-shadow: inset 0 0 0 2px $blue;
    }
 	}
}

/* Portfolio */
.projects-container {
  width: 100%;
  position: relative;
  overflow: auto;
}

.portfolio-project {
  -webkit-perspective: 1000;
  height: 250px;
  width: 350px;
  margin: 20px 10px 0;
  position: relative;
  float: left;
  border-radius: 6px;
	cursor: pointer;

	.project-card {
		-webkit-transition: 0.6s;
    transition: 0.6s;
		-webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);

		.front, .back {
			-webkit-backface-visibility: hidden;
	    backface-visibility: hidden;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 250px;
	    overflow: auto;
			-webkit-transition: 0.6s;
			transition: 0.6s;
			-webkit-transform-style: preserve-3d;
			transform-style: preserve-3d;

		}
		.front {
		  background-size: cover;
		  background-repeat: no-repeat;
	    z-index: 2;
	    /* for firefox 31 */
	  	-webkit-transform: rotateY(0deg);
	    transform: rotateY(0deg);
	    background-color: white;
	    background-size: auto 100%;
	    background-position: center;
			@include flex-display();
		  @include align-items(flex-end);
			overflow: hidden;

			&:before {
		    content: '';
		    position: absolute;
		    display: block;
				z-index: 1;
		    height: 1000px;
		    width: 1000px;
		    left: 50%;
		    top: 50%;
		    margin-left: -500px;
		    margin-top: -500px;
		    border-radius: 100%;
		    box-shadow: inset 0 0 40px 500px rgba(36, 36, 36, 0.7);
		    transition: box-shadow .3s ease;
			}
			@include media-query($on-palm) {
				@include align-items(flex-start);

				&:before {
					content: none;
				}
				.project-name {
					text-shadow: 1px 1px #333, -1px -1px #333, 1px -1px #333, -1px 1px #333;
				}
			}
		}
		.back {
	  	-webkit-transform: rotateY(-180deg);
	    transform: rotateY(-180deg);
	    background-color: white;
	    background-image: none;

			div {
		    padding: 10px 20px;
			}

			h2 {
		    color: black;
		    padding: 10px 20px;
			}
		}

		.project-name {
			font-size: 27px;
			margin: 0;
			color: white;
			padding-left: 10px;
			padding-bottom: 5px;
			z-index: 2;
			text-shadow: 0;
		  transition: text-shadow .3s ease;
		}
	}

	&:hover {
		.project-card {
			.front:before {
		    box-shadow: inset 0 0 40px 300px rgba(36, 36, 36, 0.4);
			}
			.front .project-name {
				text-shadow: 1px 1px #333, -1px -1px #333, 1px -1px #333, -1px 1px #333;
			}
		}
	}

	&.flipped .project-card {
	  -webkit-transform: rotateY(180deg);
	  transform: rotateY(180deg);
	}

	&.featured {
    height: 520px;

    .front {
    	height: 520px;
    }
	}
}

.site-nav {
	.page-link {
    position: relative;
    @include flex-display(inline-flex);
    overflow: hidden;
    padding: 0em 0px 0em 50px;

		span {
	    display: inline-block;
	    vertical-align: middle;
	    -webkit-transform: translate3d(-10px, 0, 0);
	    transform: translate3d(-10px, 0, 0);
	    -webkit-transition: -webkit-transform 0.3s;
	    transition: transform 0.3s;
	    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}

		i {
	    position: absolute;
	    left: 20px;
	    font-size: 20px;
	    line-height: 22px;
	    -webkit-transform: translate3d(-40px, 2.5em, 0);
	    transform: translate3d(-40px, 2.5em, 0);
	    -webkit-transition: -webkit-transform 0.3s;
	    transition: transform 0.3s;
	    -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
	    transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
		}
		&:hover {
	    text-decoration: none;

			i {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
			}
			span {
		    -webkit-transform: translate3d(0, 0, 0);
		    transform: translate3d(0, 0, 0);
			}
		}
		&:not(:first-child) {
			margin-left: 0;
		}
	}
}

.profile {
	margin-top: 50px;

	.description {
		text-align: center;
		margin: 30px 18%;
		font-size: 20px;
	}
}

.profile-container {
	height: 120px;
	width: 120px;
	border-radius: 100%;
	overflow: hidden;
	margin: auto;
	box-shadow: 0.05em .1em 0 2px hsla(0, 0%, 90%, 0.8);

	img {
		object-fit: cover;
	}
}

dl.horizontal {
	@include flex-display();
	@include flex-wrap(wrap);

	dt {
		@include flex(0, 0, 200px);

		i {
			margin-right: 7px;
		}
	}

	dd {
		&:last-of-type {
			@include flex(1, 0, calc(100% - 200px));
		}

		&:not(:first-of-type) {
			margin-left: 200px;
		}
	}

	@include media-query($on-palm) {
    padding: 0 20px;
		@include flex-direction(column);

		dt {
			@include flex(0, 0, auto);
		}

		dd:last-of-type {
			@include flex(0, 0, auto);
		}

		dd:not(:first-of-type) {
			margin-left: 0;
		}
	}
}
